<div id="header" class="bcgovHF">

    <div id="header-main" class="navbar navbar-default">
        
        <div class="container">             
            <div id="header-main-row1" class="row">
                <div class="col-sm-4 col-md-5 col-lg-6 header-main-left">
                    <div id="logo">
                        <a href="http://www2.gov.bc.ca/gov/content/home"><img src="<%=unippearHost%><%=thisFileUrlPath%>/img/bc_logo_transparent.png" alt="Government of B.C." title="Government of B.C."></a>
                        </div>
                    <div id="access">
                        <ul>
                            <li>
                                <a tabindex="1" accesskey="1" href="#main-content-anchor">Skip to
                                    main content</a>
                            </li>
                            <li>
                                <a tabindex="2" accesskey="n" href="#" onclick="$('.menu-button').focus();">Skip to
                                    navigation</a>
                            </li>
                            <li>
                                <a tabindex="3" accesskey="0" href="http://www2.gov.bc.ca/gov/content/accessibility">Accessibility
                                    Statement</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header">
                    <button data-target="#header-main-row2" data-toggle="collapse" class="menu-button navbar-toggle mini-menu-trigger" type="button" aria-expanded="true">
                      </button>
            
            <button data-target="#header-main-row1 .header-search.navbar-collapse" data-toggle="collapse" class="search-button navbar-toggle mini-menu-trigger" type="button" aria-expanded="true">
                      </button>
            </div>
                <div class="header-search navbar-collapse collapse">
                    <div class="search-boarder-arror visible-xs-block"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 header-main-right">
                        <div class="search"> 
                         <form role="form" class="" method="get" action="/gov/search" id="suggestion_form">                         
                                <label style="display:none;" for="global-search">Search</label>
                                    <input type="hidden" value="2E4C7D6BCAA4470AAAD2DCADF662E6A0" name="id">
                                    <input type="text" onkeyup="searchBoxKeypress(event, 500)" autocomplete="off" value="" name="q" placeholder="Enter a keyword or phrase to search" class="searchbox" id="global-search"> 
                                    <div style="display:none" id="hiddenVals">
                                        <span id="site">default_collection</span>
                                        <span id="client">default_frontend</span>
                                    </div> 
                                    <table id="search_suggest" class="search-suggestion-full ss-gac-m"></table>
                                    <div class="search-trigger"> </div>
                                </form>
                            </div>   
                    </div>
                </div>
            </div>
            <div id="header-main-row2" class="row navbar-collapse collapse">
                <div class="col-sm-8 col-md-7 col-lg-6 header-main-right col-sm-push-4 col-md-push-5 col-lg-push-6">
                    <div id="header-links">
                        <ul class="inline nav navbar-nav">
                            <li id="replicantData_90ACCB09540A4FF3B65B5B52EA115802" data-order="0">
                                    <a href="http://www2.gov.bc.ca/gov/content/careers-myhr" target="_self">Careers &amp; MyHR</a>

</li>                                                       
                            <li id="replicantData_C55AC040D74F4A51A47D75BDB2371256" data-order="1">
                                    <a href="http://www2.gov.bc.ca/gov/content/home/services-a-z" target="_self">Services A-Z</a>

</li>                                                       
                            <li id="replicantData_0198598E0CB947648ED30C3CF56C9951" data-order="2">
                                    <a href="http://www2.gov.bc.ca/gov/content/home/organizations-a-z" target="_self">Organizations A-Z</a>

</li>                                                       
                            <li id="replicantData_451F364B8E104B39B2D0B7802832168D" data-order="3">
                                    <a href="http://www2.gov.bc.ca/gov/content/home/forms-a-z" target="_self">Forms A-Z</a>

</li>                                                       
                            <li id="replicantData_57EF1691C18741BF9EF0A99FDFE1D7D6" data-order="4">
                                    <a href="https://news.gov.bc.ca/" target="_self">News</a>

</li>                                                       
                            <li id="replicantData_2A1C50FD421A499C849E8D0CFBCEB1A2" data-order="5">
                                    <a href="http://www2.gov.bc.ca/gov/content/home/contact-us" target="_self">Contact Us</a>

</li>                                                       
                            </ul>                       
                    </div>  
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6 header-main-left col-sm-pull-8 col-md-pull-7 col-lg-pull-6">             
                    <div tabindex="0" id="govNavMenuToggle" class="menu-button hidden-xs">
                        <img src="<%=unippearHost%><%=thisFileUrlPath%>/img/menu-ico-sm.png" title="Menu" alt="Menu"><span>MENU</span>
                    </div>
                    <div id="govNavMenu" class="hidden" style="height: auto; overflow-y: initial;">
    <nav class="govNav" id="govMainMenu">
    <ul class="firstLevel nav navbar-nav">      
        <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/governments">  British Columbians &amp; Our Governments</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_341">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 341)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_1_collection</span>
                                                <span id="client">theme_1_frontend</span>
                                                <input type="hidden" name="id" value="401A7ECBB734485FA6AF857F78DD4363">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_341" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="British Columbians &amp; Our Governments issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_britishcolumbians.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_341" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 341)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_1_collection</span>
                                            <span id="client">theme_1_frontend</span>
                                            <input type="hidden" name="id" value="401A7ECBB734485FA6AF857F78DD4363">
                                            </div>                              
                                    <table id="menu_search_suggest_341" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    British Columbians &amp; Our Governments</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_1BCDDAA9ED30487784F29ADC800E5DCB"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure">
                                                    Organizational Structure</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government">
                                                    Initiatives, Plans &amp; Strategies</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/government-id">
                                                    Government ID</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/aboriginal-people">
                                                    Aboriginal People</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/services-for-government">
                                                    Services &amp; Policies for Government</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/celebrating-british-columbia">
                                                    Celebrating British Columbia</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/multiculturalism-anti-racism">
                                                    Multiculturalism &amp; Anti-Racism</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/governments/local-governments">
                                                    Local Governments</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/health">  Health</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_360">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 360)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_3_collection</span>
                                                <span id="client">theme_3_frontend</span>
                                                <input type="hidden" name="id" value="19E4894872F646948A1C7E4D8CE73863">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_360" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Health issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_health.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_360" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 360)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_3_collection</span>
                                            <span id="client">theme_3_frontend</span>
                                            <input type="hidden" name="id" value="19E4894872F646948A1C7E4D8CE73863">
                                            </div>                              
                                    <table id="menu_search_suggest_360" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Health</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_EC75FD2ECA044D2C9CCB32361905348A"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/about-bc-s-health-care-system">
                                                    About B.C.'s Health Care System</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/accessing-health-care">
                                                    Accessing Health Care</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/health-drug-coverage">
                                                    Health &amp; Drug Coverage</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/managing-your-health">
                                                    Managing Your Health</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/keeping-bc-healthy-safe">
                                                    Keeping B.C. Healthy &amp; Safe</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/conducting-health-research-evaluation">
                                                    Conducting Health Research &amp; Evaluation</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/health-forms">
                                                    Health Forms</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/health/practitioner-professional-resources">
                                                    Practitioner &amp; Professional Resources</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/life-events">  Birth, Adoption, Death, Marriage &amp; Divorce</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_364">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 364)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_2_collection</span>
                                                <span id="client">theme_2_frontend</span>
                                                <input type="hidden" name="id" value="37BDCD618E4744998F9385A3F3248A06">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_364" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Birth, Adoption, Death, Marriage &amp; Divorce issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_births.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_364" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 364)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_2_collection</span>
                                            <span id="client">theme_2_frontend</span>
                                            <input type="hidden" name="id" value="37BDCD618E4744998F9385A3F3248A06">
                                            </div>                              
                                    <table id="menu_search_suggest_364" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Birth, Adoption, Death, Marriage &amp; Divorce</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_90CA4E68AA484987B5B74587FB5B0764"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/births-adoptions">
                                                    Births &amp; Adoptions</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/marriages">
                                                    Marriages</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/death-and-bereavement">
                                                    Death &amp; Bereavement</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/divorce">
                                                    Separation &amp; Divorce</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/legal-changes-of-name">
                                                    Legal Changes of Name</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/statistics-reports">
                                                    Statistics &amp; Reports</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/life-events/order-certificates-copies">
                                                    Order Certificates &amp; Copies</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/education-training">  Education &amp; Training</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_366">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 366)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_4_collection</span>
                                                <span id="client">theme_4_frontend</span>
                                                <input type="hidden" name="id" value="84131A7374544958A7C2832226CC8A81">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_366" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Education &amp; Training issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_education.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_366" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 366)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_4_collection</span>
                                            <span id="client">theme_4_frontend</span>
                                            <input type="hidden" name="id" value="84131A7374544958A7C2832226CC8A81">
                                            </div>                              
                                    <table id="menu_search_suggest_366" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Education &amp; Training</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_205DE48374094784A6B7202B9614CD69"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/early-learning">
                                                    Early Learning</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/k-12">
                                                    Kindergarten to Grade 12</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/post-secondary-education">
                                                    Post-secondary Education</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/adult-education">
                                                    Adult Education</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/ways-to-learn">
                                                    Ways to Learn</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/administration">
                                                    Administration</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/education-training/job-career-training">
                                                    Job &amp; Career Training</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/transportation">  Driving &amp; Transportation</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_372">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 372)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_5_collection</span>
                                                <span id="client">theme_5_frontend</span>
                                                <input type="hidden" name="id" value="B183E708FB894403AE4914B67D5FCB31">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_372" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Driving &amp; Transportation issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_driving.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_372" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 372)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_5_collection</span>
                                            <span id="client">theme_5_frontend</span>
                                            <input type="hidden" name="id" value="B183E708FB894403AE4914B67D5FCB31">
                                            </div>                              
                                    <table id="menu_search_suggest_372" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Driving &amp; Transportation</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_A7B3531E17F34FE9AF2B5553E2BE212A"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/driving-and-cycling">
                                                    Driving &amp; Cycling</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/passenger-travel">
                                                    Passenger Travel</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/funding-engagement-permits">
                                                    Funding, Engagement &amp; Permits</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/transportation-infrastructure">
                                                    Transportation Infrastructure</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/transportation-reports-and-reference">
                                                    Transportation Reports &amp; Reference</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/transportation/transportation-environment">
                                                    Transportation &amp; the Environment</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/safety">  Public Safety &amp; Emergency Services</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_377">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 377)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_6_collection</span>
                                                <span id="client">theme_6_frontend</span>
                                                <input type="hidden" name="id" value="80CC1FB1480D4F59B28322CBE2927585">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_377" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Public Safety &amp; Emergency Services issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_publicsafety.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_377" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 377)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_6_collection</span>
                                            <span id="client">theme_6_frontend</span>
                                            <input type="hidden" name="id" value="80CC1FB1480D4F59B28322CBE2927585">
                                            </div>                              
                                    <table id="menu_search_suggest_377" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Public Safety &amp; Emergency Services</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_B1756B8E482543338B861392B8615439"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/safety/public-safety">
                                                    Public Safety</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery">
                                                    Emergency Preparedness, Response &amp; Recovery</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/safety/crime-prevention">
                                                    Crime Prevention</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/justice">  Law, Crime &amp; Justice</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_386">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 386)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_7_collection</span>
                                                <span id="client">theme_7_frontend</span>
                                                <input type="hidden" name="id" value="2C2D870D983944B5B7EE026C36963D11">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_386" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Law, Crime &amp; Justice issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_lawcrime.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_386" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 386)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_7_collection</span>
                                            <span id="client">theme_7_frontend</span>
                                            <input type="hidden" name="id" value="2C2D870D983944B5B7EE026C36963D11">
                                            </div>                              
                                    <table id="menu_search_suggest_386" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Law, Crime &amp; Justice</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_24EEB3C6DAAE49B5AA4EB916CF5C930F"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system">
                                                    About B.C.'s Justice System</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/justice/criminal-justice">
                                                    Criminal Justice</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/justice/human-rights">
                                                    Human Rights</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/justice/courthouse-services">
                                                    Courthouse Services</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/justice/for-legal-professionals">
                                                    For Legal Professionals</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/taxes">  Taxes &amp; Tax Credits</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_391">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 391)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_8_collection</span>
                                                <span id="client">theme_8_frontend</span>
                                                <input type="hidden" name="id" value="364A046E32874A31B702AC4357032A64">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_391" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Taxes &amp; Tax Credits issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_taxes.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_391" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 391)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_8_collection</span>
                                            <span id="client">theme_8_frontend</span>
                                            <input type="hidden" name="id" value="364A046E32874A31B702AC4357032A64">
                                            </div>                              
                                    <table id="menu_search_suggest_391" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Taxes &amp; Tax Credits</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_32D3378678624AF8A905FEE82427C82F"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/sales-taxes">
                                                    Sales Taxes</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/income-taxes">
                                                    Income Taxes</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/property-taxes">
                                                    Property Taxes</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/natural-resource-taxes">
                                                    Natural Resource Taxes</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/insurance-taxes">
                                                    Insurance Taxes</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/taxes/audit-ruling-appeal">
                                                    Tax Audits, Rulings &amp; Appeals</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy">  Housing &amp; Tenancy</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_394">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 394)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_9_collection</span>
                                                <span id="client">theme_9_frontend</span>
                                                <input type="hidden" name="id" value="B2F6526DAAF848A5A45CED4CF8B44509">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_394" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Housing &amp; Tenancy issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_housing.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_394" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 394)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_9_collection</span>
                                            <span id="client">theme_9_frontend</span>
                                            <input type="hidden" name="id" value="B2F6526DAAF848A5A45CED4CF8B44509">
                                            </div>                              
                                    <table id="menu_search_suggest_394" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Housing &amp; Tenancy</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_981982BEA20341FB81B611675492A653"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/residential-tenancies">
                                                    Residential Tenancies</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/strata-housing">
                                                    Strata Housing</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home">
                                                    Owning a Home</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/seniors-housing">
                                                    Seniors Housing</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/social-housing">
                                                    Social Housing</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/local-governments">
                                                    Local Governments</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/building-or-renovating">
                                                    Building or Renovating</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/housing-tenancy/buying-and-selling">
                                                    Buying &amp; Selling</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/sports-culture">  Sports, Recreation, Arts &amp; Culture</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_400">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 400)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_10_collection</span>
                                                <span id="client">theme_10_frontend</span>
                                                <input type="hidden" name="id" value="3610728B0FC142458338578D37774BE8">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_400" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Sports, Recreation, Arts &amp; Culture issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_sportsrec.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_400" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 400)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_10_collection</span>
                                            <span id="client">theme_10_frontend</span>
                                            <input type="hidden" name="id" value="3610728B0FC142458338578D37774BE8">
                                            </div>                              
                                    <table id="menu_search_suggest_400" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Sports, Recreation, Arts &amp; Culture</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_7E0910AE24054217AFE2E62D117A2687"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/sports-culture/sports">
                                                    Sports</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/sports-culture/recreation">
                                                    Recreation</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/sports-culture/arts-culture">
                                                    Arts &amp; Culture</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/sports-culture/events-hosting">
                                                    Event Hosting</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/environment">  Environmental Protection &amp; Sustainability</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_406">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 406)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_11_collection</span>
                                                <span id="client">theme_11_frontend</span>
                                                <input type="hidden" name="id" value="CC87D3202359407F8A5C1DBEADC22A0F">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_406" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Environmental Protection &amp; Sustainability issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/StaticWebResources/static/gov3/images/theme/menu/thememenu_environment.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_406" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 406)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_11_collection</span>
                                            <span id="client">theme_11_frontend</span>
                                            <input type="hidden" name="id" value="CC87D3202359407F8A5C1DBEADC22A0F">
                                            </div>                              
                                    <table id="menu_search_suggest_406" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Environmental Protection &amp; Sustainability</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_8C53E2851B294D8AA18340E4C6A54D7D"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/climate-change">
                                                    Climate Change</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/pesticides-pest-management">
                                                    Pesticides &amp; Pest Management</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/plants-animals-ecosystems">
                                                    Plants, Animals &amp; Ecosystems</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/waste-management">
                                                    Waste Management</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water">
                                                    Air, Land, &amp; Water</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/research-monitoring-reporting">
                                                    Research, Monitoring &amp; Reporting</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship">
                                                    Natural Resource Stewardship</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/industry">  Farming, Natural Resources &amp; Industry</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_412">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 412)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_12_collection</span>
                                                <span id="client">theme_12_frontend</span>
                                                <input type="hidden" name="id" value="EA290C5F07E04D849502A930F680EA7F">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_412" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Farming, Natural Resources &amp; Industry issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_farmingindustry.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_412" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 412)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_12_collection</span>
                                            <span id="client">theme_12_frontend</span>
                                            <input type="hidden" name="id" value="EA290C5F07E04D849502A930F680EA7F">
                                            </div>                              
                                    <table id="menu_search_suggest_412" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Farming, Natural Resources &amp; Industry</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_A389E49687F74532A306249A234EDF29"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/agriculture-seafood">
                                                    Agriculture &amp; Seafood</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/construction-industry">
                                                    Construction Industry</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/electricity-alternative-energy">
                                                    Electricity &amp; Alternative Energy</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/forestry">
                                                    Forestry</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining">
                                                    Mineral Exploration &amp; Mining</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/natural-gas-oil">
                                                    Natural Gas &amp; Oil</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/industry/natural-resource-use">
                                                    Natural Resource Use</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/employment-business">  Employment, Business &amp; Economic Development</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_415">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 415)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_13_collection</span>
                                                <span id="client">theme_13_frontend</span>
                                                <input type="hidden" name="id" value="2F755F92ED224D02AD29E2EDA5EA0328">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_415" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Employment, Business &amp; Economic Development issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_employment.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_415" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 415)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_13_collection</span>
                                            <span id="client">theme_13_frontend</span>
                                            <input type="hidden" name="id" value="2F755F92ED224D02AD29E2EDA5EA0328">
                                            </div>                              
                                    <table id="menu_search_suggest_415" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Employment, Business &amp; Economic Development</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_820A75B4A1AF426C9450E4ADF0D1D783"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/business">
                                                    Business</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/employment-assistance-programs">
                                                    Employment Assistance Programs</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/job-seekers-employees">
                                                    Job Seekers &amp; Employees</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/employers">
                                                    Employers</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/employment-standards-advice">
                                                    Employment Standards &amp; Workplace Safety</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/economic-development">
                                                    Economic Development</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/employment-business/international-investment-and-trade">
                                                    International Investment &amp; Trade</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/tourism-immigration">  Tourism &amp; Immigration</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_419">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 419)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_14_collection</span>
                                                <span id="client">theme_14_frontend</span>
                                                <input type="hidden" name="id" value="9DF0542A58C34D15829D07C5CD4286AC">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_419" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Tourism &amp; Immigration issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_tourism.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_419" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 419)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_14_collection</span>
                                            <span id="client">theme_14_frontend</span>
                                            <input type="hidden" name="id" value="9DF0542A58C34D15829D07C5CD4286AC">
                                            </div>                              
                                    <table id="menu_search_suggest_419" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Tourism &amp; Immigration</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_D6E183CFBFED46B282F80342BA3F69D0"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/tourism-immigration/immigrating-to-bc">
                                                    Immigrating to B.C.</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/tourism-immigration/travel">
                                                    Travel</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/tourism-immigration/new-residents">
                                                    New Residents</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            <!-- Output subtheme navigation links only if this is a theme page or deeper -->
                  
                <li class="hassub clearfix">
                    <a href="http://www2.gov.bc.ca/gov/content/family-social-supports">  Family &amp; Social Supports</a>
                    
                    <span class="mobile-menu-search">       
                        <span class="homepage-tile">
                            <span class="tile-content">
                                <span class="tile-search"></span>                       
                                <span class="tile-search-flyout">
                                    <form action="/gov/search" method="get" role="form" id="mobile_menu_search_form_430">
                                        <input name="q" class="mobile-menu-searchbox placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 430)">
                                        <div id="hiddenVals" style="display:none">                                                                      
                                            <span id="site">theme_15_collection</span>
                                                <span id="client">theme_15_frontend</span>
                                                <input type="hidden" name="id" value="C2674D9D2EE3408FBE2D43FAD6893DBD">
                                                </div>                                  
                                    </form>                         
                                </span>
                            </span>
                            <table id="mobile_menu_search_suggest_430" style="visibility: hidden; width: 84px;" class="ss-gac-m"></table>   
                        </span>
                    </span>
                    
                    <span class="level-trigger"></span>
                                                    
                            <div class="Family &amp; Social Supports issub" style="background-image:url('<%=unippearHost%><%=thisFileUrlPath%>/img/thememenu_familysocial.png')">
                            <form action="/gov/search" method="get" role="form" id="menu_suggestion_form_430" class="menu_suggestion_form"> 
                                    <input name="q" class="searchbox menu-searchbox form-control placeholder" type="text" autocomplete="off" onkeyup="searchBoxKeypress(event, 500, 430)">
                                    <div class="search-trigger"></div>                                  
                                    <div id="hiddenVals" style="display:none">                                                                      
                                        <span id="site">theme_15_collection</span>
                                            <span id="client">theme_15_frontend</span>
                                            <input type="hidden" name="id" value="C2674D9D2EE3408FBE2D43FAD6893DBD">
                                            </div>                              
                                    <table id="menu_search_suggest_430" style="visibility: hidden;" class="ss-gac-m"></table>                                                           
                                </form>
                            <h2 class="hidden-xs">
                                    Family &amp; Social Supports</h2>
                                <ul class="secondLevel childMenu nav navbar-nav" id="child_FD488413D1B74C5B931B2F6B0E00C61D"> 
                                <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/seniors">
                                                    Seniors</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/income-assistance">
                                                    Income Assistance</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/services-for-people-with-disabilities">
                                                    Services for People with Disabilities</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/caring-for-young-children">
                                                    Caring for Young Children</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/services-for-youth">
                                                    Services for Youth</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        <li>
                                                <a href="http://www2.gov.bc.ca/gov/content/family-social-supports/foster-parenting">
                                                    Foster Parenting</a>
                                                <span class="no-trigger visible-xs-block"></span>
                                            </li>
                                        </ul>   
                            </div>                  
                        </li>
            </ul>
           </nav>
        </div>
</div>
            </div>
        </div>
        
        <div class="navigationRibbon hidden-xs">        
            </div>
                    
    </div>
</div>